@charset "utf-8";
/* CSS Document */

.layout-slider {
    width: 300px;
    box-sizing: border-box;
    padding: 0 20px;
    height: 42px;
    background: #f8f8f8;
    border: solid 1px #e4e4e4;
    border-radius: 3px
}

.ipx_ant .ant-slider {
    border-top-color: #f8f8f8;
    border-bottom-color: #f8f8f8;
    background-color: #fff;
}

.ipx_ant .ant-slider:hover {
    background-color: #fff;
}

.ipx_ant .ant-slider-track{
    top: 2px;
    background-color: #00afb4;
}

.ipx_ant .ant-slider:hover .ant-slider-track{
    background-color: #00afb4;
}

.ipx_ant .ant-slider-handle{
    border-color: #00afb4;
}

.ipx_ant .ant-slider-with-marks{
    margin-bottom: 0;
}

/*行政区下拉选择框*/
.ipx_ant_area{
    position: relative;
}

.ipx_ant_area .ant-select-auto-complete.ant-select .ant-input{
    height: 40px;
    line-height: 40px;
    box-sizing: border-box;
    padding: 0 10px;
}

.ipx_ant_area .ant-select-auto-complete.ant-select .ant-select-selection--single{
    height: 40px;
}

.ipx_ant_area .ant-select-auto-complete.ant-select .ant-input:focus, .ant-select-auto-complete.ant-select .ant-input:hover{
    border-color: #d9d9d9;
}

.ipx_ant_area .ant-select-auto-complete.ant-select .ant-input:focus, .ant-select-auto-complete.ant-select .ant-input:hover{
    border-color: #d9d9d9 !important;
}

.ipx_ant_area .ant-select-dropdown-menu-item:hover, .ant-select-dropdown-menu-item-active{
    background-color: #f8f8f8 !important;
}

.ant-select-dropdown-menu-item{
    height: 30px !important;;
    line-height: 30px !important;;
    padding: 0 10px !important;
}

/*个人头像设置*/
.ipx_ant_user_upload .ant-upload{width: 160px; height: 160px;display: block;cursor: pointer}
.ipx_ant_company_upload .ant-upload{width: 266px; height: 80px;display: block;cursor: pointer}
.ipx_ant_user_upload .iconfont, .ipx_ant_company_upload .iconfont{pointer-events: none}
